# Xcode build products
DerivedData/
build/

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# User settings
*.xcuserstate
*.xcuserdata/

# macOS system files
.DS_Store

# Logs
*.log